[Unit]
Description=Shirube Daemon

[Seervice]
Environment=GPT_TOKEN=(OpenAI API Token)
Environment=BOT_TOKEN=(Discord API Token)
WorkingDirectory=(Full path to "Shirube" directory)
ExecStart=(Full path to "shirube_main.py")
StandardOutput=append:shirube.out.log
StandardError=shirube.error.log
Restart=always
Type=forking
PIDFile=/run/shirubed.PIDFile
TimeoutSec=1800